<footer class="border-top">
  <div class="row m-3">
    <div class="col-sm-12 col-md-4 p-2 text-center">
      <div class="p-2">
        <p class="lead">Products & Services</p>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Our Products</a></li>
          <li><a class="text-muted" href="#">Security Services</a></li>
          <li><a class="text-muted" href="#">Technical Services</a></li>
          <li><a class="text-muted" href="#">Medical Unit</a></li>
        </ul>

      </div>
    </div>
    <div class="col-sm-12 col-md-4 p-2 text-center">
      <div class="p-2">
        <p class="lead">Customers</p>

        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Customer Downloads</a></li>
          <li><a class="text-muted" href="#">Alarm System Manuals</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 p-2 text-center">
      <div class="p-2">
        <p class="lead">About Us</p>

        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Our Team</a></li>
          <li><a class="text-muted" href="#">Coverage map</a></li>
          <li><a class="text-muted" href="#">Privacy Policy</a></li>
          <li><a class="text-muted" href="#">Terms and Conditions</a></li>
          <li><a class="text-muted" href="#">Careers @ Fox</a></li>
        </ul>
      </div>
    </div>

  </div>
</footer>
