<nav class="navbar navbar-expand-md navbar-white bg-white mb-2 mt-2">
  <a class="navbar-brand" href="#">
    <img class="vw-5" src="../../../assets/images/logo.jpg" alt="Fox Security logo">
  </a>
  <button class="navbar-toggler bg-red" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-danger" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger" href="#">About Us</a>
      </li>
    </ul>
    <button class="btn btn-outline-danger mr-2 my-2 my-sm-0">Request Call Out</button>
    <button class="btn btn-danger my-2 my-sm-0">Contact Us</button>
  </div>
</nav>
