<div class="hero opacity-0.8 vh-90 text-center">
  <div>

    <h1 class="lead pl-2 pr-2 pt-5 cover-heading text-danger">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>

    <p class="p-3 text-black text-left">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Curabitur vitae mollis nulla. Maecenas tincidunt euismod lectus vitae tincidunt.
      Praesent mattis lacus vitae laoreet consectetur. Fusce pulvinar faucibus mi, eu consequat risus porttitor et. Donec in lacus magna.
      Fusce quis facilisis erat. Maecenas tempus justo non enim suscipit, eget tempor velit laoreet.
      Suspendisse eleifend finibus neque, sit amet feugiat tellus lobortis eget.
      Nam nulla est, scelerisque in ullamcorper at, placerat egestas diam.
    </p>

    <button class="btn btn-danger">Request A Free Quote</button>

  </div>
</div>

<div class="row m-3 p-3 border">
  <div class="col-12">
    <p class="lead text-danger">Why Choose Us?</p>

    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas consectetur feugiat lectus, eget iaculis lorem aliquam vel. Aliquam varius bibendum purus vel pulvinar. Nulla vitae mauris a leo aliquam semper eget id arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent convallis purus vitae dui bibendum, sed suscipit metus condimentum. Cras pharetra mattis luctus. In faucibus ultricies sagittis. Integer convallis magna nec scelerisque blandit. Proin congue blandit nibh et elementum. Pellentesque congue libero a neque placerat, id bibendum nisi vehicula. Vestibulum at tellus mi. Pellentesque in erat non nulla vehicula suscipit. Integer ut gravida risus. Praesent sit amet lectus mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Nulla feugiat vel nisl sit amet pellentesque. Etiam diam turpis, luctus nec orci a, ornare hendrerit lorem. Quisque eu pellentesque elit, vitae convallis sapien. Ut non leo molestie, iaculis neque at, rhoncus tortor. Vestibulum eget ipsum non elit euismod ultrices. Morbi vel est a libero porta pharetra a non lorem. Vestibulum a varius dolor. Donec faucibus enim quis urna faucibus tincidunt. Vestibulum ut dui mi. Pellentesque consequat aliquam feugiat.</p>
  </div>
</div>

<div class="row m-3 p-3 border">
  <div class="col-12">
    <p class="lead text-danger">Benifits with Fox Security</p>

    <ul class="list-unstyled text-small">
      <li class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      <li class="text-muted">Donec scelerisque urna non arcu pretium, ut bibendum urna feugiat.</li>
      <li class="text-muted">In id risus eu eros rutrum mollis.</li>
      <li class="text-muted">Maecenas ut erat placerat, viverra nisi nec, bibendum magna.</li>
      <li class="text-muted">Quisque eget libero dignissim, consectetur lorem eget, faucibus magna.</li>
      <li class="text-muted">Mauris fringilla metus facilisis porttitor cursus.</li>
      <li class="text-muted">Praesent rutrum ante ac purus pharetra placerat sit amet a velit.</li>
    </ul>
  </div>
</div>

<div class="row m-3">
  <div class="col-sm-12 col-md-4 p-2 text-center">
    <div class="border p-2" style="min-height: 400px">
      <p class="lead text-danger">Accreditations</p>

      <img src="../../../assets/images/psira-certified-logo.jpg" width="150px">
      <br>
      <img class="mt-5" src="../../../assets/images/icasa-logo.png" width="150px">


    </div>
  </div>

  <div class="col-sm-12 col-md-4 p-2 text-center">
    <div class=" border p-2" style="min-height: 400px">
      <p class="lead text-danger">From our customers</p>
      <p>
        <small class="font-italic">Thank you for your hard work and helping to keep the community safe.</small>
        <br>
        <small class="font-weight-bold">Francois J.</small>
      </p>

      <p>
        <small class="font-italic">Fox is the best. Thank you for putting us first.</small>
        <br>
        <small class="font-weight-bold">Rual L.</small>
      </p>

      <p>
        <small class="font-italic"> Wish you guys would go country wide .. I would definitely be a customer .. Good job. Stay safe guys!</small>
        <br>
        <small class="font-weight-bold">Heinrich V.</small>
      </p>

      <p>
        <small class="font-italic"> Wish you guys would go country wide .. I would definitely be a customer .. Good job. Stay safe guys!</small>
        <br>
        <small class="font-weight-bold">Heinrich V.</small>
      </p>
    </div>
  </div>

  <div class="col-sm-12 col-md-4 p-2 text-center">
    <div class=" border p-2" style="min-height: 400px">
      <p class="lead text-danger">Social Media</p>

      <div class="fb-page" data-width="300" data-href="https://www.facebook.com/FoxAlarmsSec/" data-tabs="timeline" data-height="300" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false">
        <blockquote cite="https://www.facebook.com/FoxAlarmsSec/" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/FoxAlarmsSec/">Fox Security</a>
        </blockquote>
      </div>
    </div>
  </div>

</div>

<div class="row m-3">

  <div class="col-sm-12 col-md-4 p-2 text-center">
    <div class=" border p-2" style="min-height: 400px">
      <p class="lead text-danger">Useful Content</p>

      <p class="p-3 text-black text-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur vitae mollis nulla. Maecenas tincidunt euismod lectus vitae tincidunt.
        Praesent mattis lacus vitae laoreet consectetur. Fusce pulvinar faucibus mi, eu consequat risus porttitor et. Donec in lacus magna.
        Fusce quis facilisis erat. Maecenas tempus justo non enim suscipit, eget tempor velit laoreet.
        Suspendisse eleifend finibus neque, sit amet feugiat tellus lobortis eget.
        Nam nulla est, scelerisque in ullamcorper at, placerat egestas diam.
      </p>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 p-2 text-center">
    <div class=" border p-2" style="min-height: 400px">
      <p class="lead text-danger">Useful Content</p>

      <p class="p-3 text-black text-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur vitae mollis nulla. Maecenas tincidunt euismod lectus vitae tincidunt.
        Praesent mattis lacus vitae laoreet consectetur. Fusce pulvinar faucibus mi, eu consequat risus porttitor et. Donec in lacus magna.
        Fusce quis facilisis erat. Maecenas tempus justo non enim suscipit, eget tempor velit laoreet.
        Suspendisse eleifend finibus neque, sit amet feugiat tellus lobortis eget.
        Nam nulla est, scelerisque in ullamcorper at, placerat egestas diam.
      </p>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 p-2 text-center">
    <div class=" border p-2" style="min-height: 400px">
      <p class="lead text-danger">Useful Content</p>
      <p class="p-3 text-black text-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur vitae mollis nulla. Maecenas tincidunt euismod lectus vitae tincidunt.
        Praesent mattis lacus vitae laoreet consectetur. Fusce pulvinar faucibus mi, eu consequat risus porttitor et. Donec in lacus magna.
        Fusce quis facilisis erat. Maecenas tempus justo non enim suscipit, eget tempor velit laoreet.
        Suspendisse eleifend finibus neque, sit amet feugiat tellus lobortis eget.
        Nam nulla est, scelerisque in ullamcorper at, placerat egestas diam.
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
